<?xml version="1.0" encoding="UTF-8"?>

<?define ExeName = "SimpleApp.exe" ?>
<?define AppName = "Simple App" ?>
<?define Description = "Simple App is a WPF desktop application." ?>
<?define Manufacturer = "Simple Company Name" ?>
<?define Version = "1.0.0.0" ?>
<?define UpgradeCode = "{generate-guid-here}" ?>
<?define CabName = "SimpleApp.cab" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">	

	<Product Id="*" Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" Language="1033">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.Manufacturer)" />

		<Icon Id="Logo.ico" SourceFile="$(var.SimpleApp.TargetDir)\logo.ico" />

		<Property Id="ARPPRODUCTICON" Value="Logo.ico" />

		<Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
					<Directory Id="INSTALLFOLDER" Name="$(var.Name)">
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Simple_App.exe" Guid="*">
				<File Id="Simple_App.exe" Name="$(var.ExeName)" Source="$(var.SimpleApp.TargetDir)$(var.ExeName)" />
			</Component>
			<Component Id="Simple_App.exe.config" Guid="*">
				<File Id="Simple_App.exe.config" Name="$(var.ExeName).config" Source="$(var.SimpleApp.TargetDir)$(var.ExeName).config" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="*">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.Name)" Description="$(var.Description)" Icon="Logo.ico" Target="[#Sample_Application.exe]" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>